# Python-Umgebung ignorieren
venv/
.venv/

# Bytecode-Dateien
__pycache__/
*.pyc

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# Persönliche Daten
interview-ai/data/audio/
interview-ai/data/transcripts/
